{% extends "jobservice/base.html"%}
{% block content%}

<br>
<br>
<div class=" pasek_napis ">
    create job offer: 
    <br> <br>
</div> 
<form action="{% url 'createoffer' %}" method="post">
        {% csrf_token %}
    <div class="form-group col-md-2 mx-auto">
        <input class="form-control" type="text" name="title" placeholder="title you offer" >
    </div>
    <!-- <div class="form-group">
        <input class="form-control" type="text" name="postdate" placeholder="post date" >
    </div> -->
    <div class="form-group col-md-4 mx-auto">
        <input class="form-control" type="text" name="trade" placeholder="trade" >
    </div>
    <div class="form-group col-md-4 mx-auto">
        <input class="form-control" type="text" name="proffesion" placeholder="proffesion" >
    </div>
    <div class="form-group col-md-4 mx-auto">
        <input class="form-control" type="text" name="jobPosition" placeholder="job position" >
    </div>
    <div class="form-group">
        <input class="form-control" type="text" name="additionalInfo" placeholder="additional info" >
    </div>
    <div class="form-group">
        <input class="form-control" type="text" name="location" placeholder="location" >
    </div>
    <div class="form-group">
        <input class="form-control" type="text" nmae="additionalSkills" placeholder="additional skills" >
    </div>
    <div class="col-md-1 mx-auto">
        <input type="submit" volue = "submit" class="btn btn-dark  ">
    </div>
</form>

<br>
<br>
{%endblock content%}