{% extends "jobservice/base.html"%}
{% block content%}

<!-- jesli person -->


<br>
<br>
<div class=" pasek_napis ">
    create cv: 
    <br> <br>
</div> 
<form>
    <div class="form-group col-md-2 mx-auto">
        <input class="form-control" type="text" id="nameCv" placeholder="name you cv" >
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <input class="form-control" type="text" id="firstName" placeholder="first name" >
        </div>
        <div class="form-group col-md-6">
            <input class="form-control" type="text" id="lastName" placeholder="last name" >
        </div>
    </div>
    <div class="form-group col-md-4 mx-auto">
        <input class="form-control" type="text" id="dateOfBirth" placeholder="date of birth" >
    </div>
    <div class="form-group">
        <input class="form-control" type="text" id="placeOfResidence" placeholder="place of residence" >
    </div>
    <div class="form-group">
        <input class="form-control" type="text" id="education" placeholder="education" >
    </div>
    <div class="form-group">
        <input class="form-control" type="text" id="experience" placeholder="experience" >
    </div>
    <div class="form-group">
        <input class="form-control" type="text" id="description" placeholder="description" >
    </div>
    <div class="col-md-1 mx-auto">
        <button type="submit" class="btn btn-dark  ">Submit</button>
    </div>
</form>


<!-- jesli company -->

<br>
<br>
<div class=" pasek_napis ">
    create job offer: 
    <br> <br>
</div> 
<form>
    <div class="form-group col-md-2 mx-auto">
        <input class="form-control" type="text" id="title" placeholder="title you offer" >
    </div>
    <div class="form-group col-md-4 mx-auto">
        <input class="form-control" type="text" id="trade" placeholder="trade" >
    </div>
    <div class="form-group col-md-4 mx-auto">
        <input class="form-control" type="text" id=" proffesion" placeholder="proffesion" >
    </div>
    <div class="form-group col-md-4 mx-auto">
        <input class="form-control" type="text" id="jobPosition" placeholder="job position" >
    </div>
    <div class="form-group">
        <input class="form-control" type="text" id="additionalInfo" placeholder="additional info" >
    </div>
    <div class="form-group">
        <input class="form-control" type="text" id="location" placeholder="location" >
    </div>
    <div class="form-group">
        <input class="form-control" type="text" id="additionalSkills" placeholder="additional skills" >
    </div>
    <div class="col-md-1 mx-auto">
        <button type="submit" class="btn btn-dark  ">Submit</button>
    </div>
</form>


{%endblock content%}