{% extends "jobservice/base.html"%}
{% block content%}

<h3></h3>
<h3>CV</h3>
<form>
    <div class="form-group">
      <label for="Firstname">First name</label>
      <input type="firstName" class="form-control" id="FirstName" aria-describedby="Namehelp" placeholder="Enter name">
      <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
    </div>
    <div class="form-group">
        <label for="secondname">Second name</label>
        <input type="secondName" class="form-control" id="SecondName" placeholder="Enter name">
            
    </div>
    <!-- <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div> -->
    
  </form>
  <h3></h3>

  <button type="submit" class="btn btn-primary">Create</button>

{%endblock content%}