{% extends "jobservice/base.html"%}
{% block content%}

<h3></h3>
<h3>CV</h3>
<form>
    <div class="form-group">
        <label for="nameCv">Name your cv:</label>
        <input type="nameCv" class="form-control" id="nameCv" placeholder="Enter name">
    </div>
    <div class="form-group">
      <label for="firstname">First name</label>
      <input type="firstName" class="form-control" id="firstName" aria-describedby="Namehelp" placeholder="Enter name">
      <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
    </div>
    <div class="form-group">
        <label for="lastName">Second name</label>
        <input type="lastName" class="form-control" id="lastName" placeholder="Enter name">
    </div>
    <div class="form-group">
      <label for="dateOfBirth">date of birth</label>
      <input type="dateOfBirth" class="form-control" id="dateOfBirth" placeholder="Enter name">
    </div>
    <div class="form-group">
        <label for="education">education</label>
        <input type="education" class="form-control" id="education" placeholder="Enter name">
    </div>
    <div class="form-group">
        <label for="placeOfResidence">placeOfResidence</label>
        <input type="placeOfResidence" class="form-control" id="placeOfResidence" placeholder="Enter name">
    </div>
    <div class="form-group">
        <label for="experience">experience</label>
        <input type="experience" class="form-control" id="experience" placeholder="Enter name">
    </div>
    <div class="form-group">
        <label for="description">description</label>
        <input type="description" class="form-control" id="description" placeholder="Enter name">
      </div>
    <!-- <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div> -->
    
  </form>
  <h3></h3>

  <button type="submit" class="btn btn-primary">Create</button>

{%endblock content%}