{% extends "jobservice/base.html"%}
{% block content%}

<br>
<br>
<div class=" pasek_napis ">
    wyszukaj: 
</div> 
<div class=" mx-auto">
    <form class="form-inline">
        <input class="form-control pasek_napis" type="search" placeholder="search by keyword ">
        <button class="btn btn-outline-success pasek_napis " type="submit">Search</button>
    </form>                                                 
</div>
<br>
<br>
{% for joboffer in joboffers %}

<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2 " href="#">{{ joboffer.companyName }}</a>
            <small class="text-muted">{{ joboffer.postdate}}</small>
        </div>
        <h2><a class="article-title pasek_napis" href="#">{{ joboffer.title }}</a></h2>
        <p class="article-content ">{{ joboffer.location }}</p>
    </div>
</article>


{% endfor %}
{%endblock content%}