{% extends "jobservice/base.html"%}
{% block content%}
<!-- 'title', 'industry', 'proffesion' ,'jobPosition', 'jobType', 'ExperienceLevel', 'postdate', 'companyName', 'location', 'jobDescription' -->
<br></br>
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2 pasek_napis">{{ object.companyName }}</a>
            <small class="text-muted">{{ object.postdate}}</small>
            {% if object.companyName == user%}
            <a class="btn btn-info" href="{% url 'offer-update' object.id %}">Update</a>
            <a class="btn btn-danger" href="{% url 'offer-delete' object.id %}">Delete</a>
            {% endif %}
        </div>
        <h2 class="article-tilte">{{ object.title }}</h2>
        <p class="article-content" style="font-family: Nunito Sans;">Position: {{ object.jobPosition }}</p>
        <p class="article-content" style="font-family: Nunito Sans;">Industry: {{ object.industry }}</p>
        <p class="article-content" style="font-family: Nunito Sans;">Profesion: {{ object.proffesion }}</p>
        <p class="article-content" style="font-family: Nunito Sans;">Job type: {{ object.jobType }}</p>
        <p class="article-content" style="font-family: Nunito Sans;">Experience Level: {{ object.ExperienceLevel }}</p>
        <p class="article-content" style="font-family: Nunito Sans;">Location: {{ object.location }}</p>
        <h4 class="article-content">About this job</h4>
        <p class="article-content" style="font-family: Nunito Sans;">{{ object.jobDescription }}</p>
        {% if user.is_authenticated and user.is_person %}
        <a type="button" href="reply" class="btn btn-dark">odpowiedz na oferte</a>
        {% endif %}
</article>

<br>

{% if object.companyName == user%}

<br>
przeslane odpowiedzi:
<br>
{% for r in rs %}
<!--         
        <div class="pasek_napis"></li>
            <a class=" pasek_napis" href="{% url 'cv' cv.pk %}">{{r.nameCv}}</a>
        </div> -->

{% endfor %}

{%endif%}

{%endblock content%}