{% extends "jobservice/base.html"%}
{% block content%}


<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2 pasek_napis" href="#">{{ joboffer.companyName }}</a>
            <small class="text-muted">{{ joboffer.postdate}}</small>
        </div>
        <h2><a class="article-title pasek_napis " style="font-size: 20px;"href="#">{{ joboffer.title }}</a></h2>
        <p class="article-content" style="font-family: Nunito Sans;">{{ joboffer.jobPosition }}</p>
    </div>
</article>


<br>
<br>
{%endblock content%}