{% extends "jobservice/base.html"%}
{% block content%}

<br>
<br>
<div class=" pasek_napis ">
     reply: 
    <br> <br>
</div>


<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2 pasek_napis">Reply</a>
            <!-- <small class="text-muted">{{ cvs.nameCv}}</small> -->
        </div>
        {% for r in reply %}
        <h2 href="#" class="article-tilte">cv: {{ r.cv }}</h2>
        <p href="#" class="article-content" style="font-family: Nunito Sans;">offer: {{r.idOffer.jobPosition }}</p>
        <p class="article-content" style="font-family: Nunito Sans;">mess: {{ r.messForCompany }}</p>
        <small class="article-content" style="font-family: Nunito Sans;">date add: {{ r.dateAdd }}</small>
        <br>
    </article>
        {% if object.companyName != user%} <!-- pózniej znmienieć!!!! -->
        <a type="button" href="answer" class="btn btn-dark">odpowiedz na cv</a>
        {% endif %}
        {% endfor %}
        

           







<br>
<br>
{%endblock content%}