{% extends "jobservice/base.html"%}
{% block content%}



<!-- <br>
<div class="profil ">
    <div class="photo form-row " style="margin-left: 0px;">
        <img src="https://image.flaticon.com/icons/svg/149/149995.svg" width="200" height="200" alt="..."
            class="rounded "> -->

<div class="tab-content no-border padding-24">
    <div id="home" class="tab-pane in active">
        <div class="row">
            <div class="col-xs-12 col-sm-3 center">
                <span class="profile-picture">
                    <img class="editable img-responsive rounded" alt=" Avatar" id="avatar2"
                        src="https://www.designevo.com/res/templates/thumb_small/bright-blue-kaleidoscope.png"
                        width="200" height="200">

                </span>

                <div class="space space-4"></div>
                {% if company.companyName == user.company.companyName%}
                <a href="{% url 'deleteuser' %}" class="btn btn-sm btn-block btn-success">
                    <i class="ace-icon fa fa-plus-circle bigger-120"></i>
                    <span class="bigger-110">Delete</span>
                </a>

                <a href="{% url 'editcompany' %}" class="btn btn-sm btn-block btn-primary">
                    <i class="ace-icon fa fa-envelope-o bigger-110"></i>
                    <span class="bigger-110">Edit</span>
                </a>
                {% endif %}

            </div><!-- /.col -->

            <div class="col-xs-12 col-sm-9">
                <h4 class="blue">
                    <span class="middle">{{ company.companyName }}</span>

                </h4>

                <!-- https://image.flaticon.com/icons/svg/149/149995.svg -->


                <div class="col-xs-12 col-sm-6">
                    <div class="profile-user-info">
                        <div class="profile-info-row">
                            <div class="profile-info-name"> Name </div>
                            <div class="profile-info-value">
                                <span>{{ company.companyName }}</span>
                            </div>
                        </div>
                        <div class="profile-info-row">
                            <div class="profile-info-name"> Mail </div>

                            <div class="profile-info-value">
                                <i class="fa fa-map-marker light-orange bigger-110"></i>
                                <span> {{ company.companyMail }}</span>
                            </div>
                        </div>
                        {% if company.location %}
                        <div class="profile-info-row">
                            <div class="profile-info-name"> Location </div>

                            <div class="profile-info-value">
                                <i class="fa fa-map-marker light-orange bigger-110"></i>
                                <span> {{ company.location }}</span>
                            </div>
                        </div>
                        {% endif %}
                        {% if company.site %}
                        <div class="profile-info-row">
                            <div class="profile-info-name"> Site </div>

                            <div class="profile-info-value">
                                <i class="fa fa-map-marker light-orange bigger-110"></i>
                                <span> {{ company.site }}</span>
                            </div>
                        </div>
                        {%endif%}
                        {% if company.aboutUs %}

                        <div class="profile-info-row">
                            <div class="profile-info-name"> About </div>

                            <div class="profile-info-value">
                                <i class="fa fa-map-marker light-orange bigger-110"></i>
                                <span> {{ company.aboutUs }}</span>
                            </div>
                        </div>
                        {%endif%}




                    </div>

                    <!-- <br>
                <a href="{% url 'deleteuser' %}" class="btn btn-success ">delete</a>
                <a href="{% url 'editcompany' %}" class="btn btn-success">edit</a> -->

                </div>
            </div>
        </div>
    </div>
</div>
<div class="space-20"></div>

<div class="row">
    <div class="col-xs-12 col-sm-6">
        <div class="widget-box transparent">
            <div class="widget-header widget-header-small">
                <h4 class="widget-title smaller">
                    <i class="ace-icon fa fa-check-square-o bigger-110"></i>
                    My offers
                </h4>
            </div>
        </div>
    </div>
</div>
</div>
<br><br>
{% for o in oo %}

<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2 pasek_napis"></a> {{ o.companyName }}</a> <small class="text-muted">{{ o.postdate}}</small>
        </div>
        <h2><a class="article-title pasek_napis " style="font-size: 20px;"
                href="{% url 'offer-details' o.pk%}">{{ o.title }}</a></h2>
        <p class="article-content" style="font-family: Nunito Sans;">{{ o.jobPosition }}</p>
    </div>
</article>

{% endfor %}

</div>
</div>





{%endblock content%}