{% extends "jobservice/base.html"%}
{% block content%}
{% load widget_tweaks %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Delete offer</legend>
            <h2>Are you sure you want to delete the offer <b>"{{ object.title }} </b>?. The offer will be deleted
                pernamently"
            </h2>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-warning" type="submit">Yes, I am sure I want to delete</button>
            <a class="btn btn-outline-primary" href="{% url 'offer-details' object.id %}">Cancel</a>
        </div>
    </form>
</div>
{%endblock content%}