{% extends "jobservice/base.html"%}
{% block content%}

<br>
<br>
<div class=" pasek_napis ">
    register:
    jeszcze dodac jesli błedna nazwa, hasło itp
    <br> <br>
</div> 
<form>
    <div class="form-group col-md-3 mx-auto">
        <input class="form-control" type="text" id="username" placeholder="user name:" >
    </div>
    <div class="form-group col-md-3 mx-auto">
        <input class="form-control" type="text" id="email" placeholder="email:" >
    </div>
    <div class="form-group col-md-4 mx-auto">
        <input class="form-control" type="text" id="password1" placeholder="password:" >
    </div>
    <div class="form-group col-md-4 mx-auto">
        <input class="form-control" type="text" id="password2" placeholder="password confirmation:" >
    </div>
    <div class="col-md-1 mx-auto">
        <button type="submit" class="btn btn-dark ">Submit</button>
    </div>
</form>




{% load widget_tweaks %}

<form method="post" novalidate>
    {% csrf_token %}

    {% for hidden_field in form.hidden_fields %}
    {{ hidden_field }}
    {% endfor %}

    {% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        {% for error in form.non_field_errors %}
        {{ error }}
        {% endfor %}
    </div>
    {% endif %}

    {% for field in form.visible_fields %}
    <div class="form-group">
        {{ field.label_tag }}

        {% if form.is_bound %}
        {% if field.errors %}
        {% render_field field class="form-control is-invalid" %}
        {% for error in field.errors %}
        <div class="invalid-feedback">
            {{ error }}
        </div>
        {% endfor %}
        {% else %}
        {% render_field field class="form-control is-valid" %}
        {% endif %}
        {% else %}
        {% render_field field class="form-control" %}
        {% endif %}

        {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}
    </div>
    {% endfor %}

    <button type="submit" class="btn btn-primary">Submit</button>
    {%endblock content%}