{% extends "jobservice/base.html"%}
{% block content%}

<br>
<br>
<div class=" pasek_napis ">
    create cv: 
    <br> <br>
</div> 
<form action="{% url 'create_cv' %}" method="post">
        {% csrf_token %}
    <div class="form-group col-md-2 mx-auto">
        <input class="form-control szary_tlo" name="nameCv" value="{{ form.nameCv }}" type="text" id="nameCv" placeholder="name you cv" >
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <input class="form-control szary_tlo" type="text" name="firstName" value="{{ form.firstName}}" placeholder="first name" >
        </div>
        <div class="form-group col-md-6">
            <input class="form-control szary_tlo" type="text" name="lastName"value="{{ form.lastName}}" placeholder="last name" >
        </div>
    </div>
    <div class="form-group col-md-4 mx-auto">
        <input class="form-control szary_tlo" type="text" name="dateOfBirth" value="{{ form.dateOfBirth}}" placeholder="date of birth" >
    </div>
    <div class="form-group">
        <input class="form-control szary_tlo" type="text" name="placeOfResidence" value= "{{ form.placeOfResidence}}" placeholder="place of residence" >
    </div>
    <div class="form-group">
        <input class="form-control szary_tlo" type="text" name="education"value="{{ form.education}}" placeholder="education" >
    </div>
    <div class="form-group">
        <input class="form-control szary_tlo" type="text" name="experience"value="{{ form.experience}}" placeholder="experience" >
    </div>
    <div class="form-group">
        <input class="form-control szary_tlo" type="text" name="description" value="{{ form.description}}" placeholder="skills" >
    </div>
    <div class="col-md-1 mx-auto">
        <input type="submit" volue = "Submit" class="btn btn-dark " >
    </div>
</form>

<br>
<br>
{%endblock content%}