{% extends "jobservice/base.html"%}
{% block content%}

<br>
<br>

<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2 pasek_napis" style="color: green">CV</a>
            <!-- <small class="text-muted">{{ cvs.nameCv}}</small> -->
        </div>
        {% for cv in p %}
        <h2 class="article-tilte">{{ cvs.nameCv }}</h2>
        
        <p class="article-content" style="font-family: Nunito Sans; color: black; font-size: 25px;">{{cv.lastName }} {{ cv.firstName }}</p>
        <!-- <p class="article-content" style="font-family: Nunito Sans;"></p> -->
        <small class="article-content" style="font-family: Nunito Sans;">date of birth: {{ cv.dateOfBirth }}</small>
        <br>
        <small class="article-content" style="font-family: Nunito Sans;">{{ cv.placeOfResidence }}</small>
        <br>
    
        <br>
        <p class="article-content" style="font-family: Nunito Sans;">{{ cv.education }}</p>
        
        <p class="article-content" style="font-family: Nunito Sans;">{{ cv.experience }}</p>
   
        <p class="article-content" style="font-family: Nunito Sans;">{{ cv.description }}</p>
        {% if user.is_authenticated and user.is_person %}
        <a type="button" href="{% url 'cvedit' cv.pk %}" class="btn btn-dark">edytuj</a>
        <a type="button" href="{% url 'deletecv' cv.pk %}" class="btn btn-dark">usuń</a>
            {%endif%}
            {% endfor %}
    </div>
</article>

<br>
<br>
<br>


{%endblock content%}