{% extends "jobservice/base.html"%}
{% block content%}

<br>
<br>
<div class=" pasek_napis ">
     cv: 
    <br> <br>
</div> 
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2 pasek_napis">CV</a>
            <!-- <small class="text-muted">{{ cvs.nameCv}}</small> -->
        </div>
        {% for cv in cvs %}
        <h2 class="article-tilte">{{ cvs.nameCv }}</h2>
        <p class="article-content" style="font-family: Nunito Sans; color: black">Nazwisko: {{cv.lastName }}</p>
        <p class="article-content" style="font-family: Nunito Sans;">Imię: {{ cv.firstName }}</p>
        <small class="article-content" style="font-family: Nunito Sans;">dateOfBirth: {{ cv.dateOfBirth }}</small>
        <br>
        <p class="article-content" style="font-family: Nunito Sans;">Educations: {{ cv.education }}</p>
        <p class="article-content" style="font-family: Nunito Sans;">placeOfResidence: {{ cv.placeOfResidence }}</p>
        <p class="article-content" style="font-family: Nunito Sans;">experience: {{ cv.experience }}</p>
        <!-- <h4 class="article-content">About me:</h4> -->
        <p class="article-content" style="font-family: Nunito Sans;">skils: {{ cv.description }}</p>
            {% if object.person == user%}
        <a type="button" href="{% url 'jobs-home' %}" class="btn btn-dark">edytuj</a>
        <a type="button" href="{% url 'jobs-home' %}" class="btn btn-dark">usuń</a>
            {%endif%}
            {% endfor %}
    </div>
</article>

<br>
<br>
{%endblock content%}