{% extends "jobservice/base.html"%}
{% block content%}

<br>

<div class="profil ">
        <div class = "photo form-row " style ="margin-left: 0px;">
            <img src="http://bootdey.com/img/Content/avatar/avatar6.png" alt="..." class="rounded">
         
            <div class="col-xs-12 col-sm-6">
                <div class="profile-user-info">
                    <div class="profile-info-row">
                        <div class="profile-info-name"> Username </div>
                        <div class="profile-info-value">
                            <span>{{ user.username }}</span>
                        </div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name"> Location </div>
    
                        <div class="profile-info-value">
                            <i class="fa fa-map-marker light-orange bigger-110"></i>
                            <span>{{ user.username }}</span>
                        </div>
                    </div>
    
                    <div class="profile-info-row">
                        <div class="profile-info-name"> Age </div>
                        <div class="profile-info-value">
                            <i class="fa fa-map-marker light-orange bigger-110"></i>
                            <span>{{ user.username }}</span>
                        </div>
                    </div>
    
                    <div class="profile-info-row">
                        <div class="profile-info-name"> Joined </div>
                        <div class="profile-info-value">
                            <span>{{ user.creationdate}}</span>
                        </div>
                    </div>
            
                    <div class="profile-info-row">
                        <div class="profile-info-name"> Email </div>
                        <div class="profile-info-value">
                            <a href="#" target="_blank">{{user.Email}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>


<br>
<br>
{%endblock content%}