{% extends "jobservice/base.html"%}
{% block content%}


<div class="alert alert-warning alert-dismissible fade show color: white" style = "background-color:#373a3c "  role="alert">
    <strong>Hi  {{ user.username }} </strong> You edit you profile ;)
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button> 
</div>
<br>
<div class="profil ">
    <div class = "photo form-row " style ="margin-left: 0px;">
        <img src="https://image.flaticon.com/icons/svg/1785/1785577.svg" width="200" height="200" alt="..." class="rounded ">
        <!-- https://image.flaticon.com/icons/svg/149/149995.svg -->
        <!-- <div class = "col-xs-10 col-sm-9" >
            <div class="profile-info-name"> Username </div>
            <div class="profile-info-value">
                <span>{{ user.username }}</span>
            </div>
            <div class="profile-info-name"> Imię </div>
            <div class="profile-info-value">
                <span>{{ user.username }}</span>
            </div>
            <div class="profile-info-name"> Nazwisko </div>
            <div class="profile-info-value">
                <span>{{ user.username }}</span>
            </div>
        </div> -->
        <div class="col-xs-12 col-sm-6">
            <div class="profile-user-info">
                <div class="profile-info-row">
                    <div class="profile-info-name"> Username </div>
                    <div class="profile-info-value">
                        <span>{{ user.username }}</span>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name"> Location </div>

                    <div class="profile-info-value">
                        <i class="fa fa-map-marker light-orange bigger-110"></i>
                        <span>{{ user.username }}</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name"> Age </div>
                    <div class="profile-info-value">
                        <i class="fa fa-map-marker light-orange bigger-110"></i>
                        <span>{{ user.username }}</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name"> Joined </div>
                    <div class="profile-info-value">
                        <span>{{ user.creationdate}}</span>
                    </div>
                </div>
        
                <div class="profile-info-row">
                    <div class="profile-info-name"> Email </div>
                    <div class="profile-info-value">
                        <a href="#" target="_blank">{{user.Email}}</a>
                    </div>
                </div>
            </div>
           
            <br>
            <button type="button" class="btn btn-success ">Edit</button>
            <button type="button" class="btn btn-success">Delete</button>

        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="profile-info-row">
            your cvs:
            <br><br>
                {% for cv in cvs %}
                
                <div class="pasek_napis"></li>
                    <a class=" pasek_napis" href="{% url 'cv' cv.pk %}">{{cv.nameCv}}</a>
                </div>

                {% endfor %}
            
            </div>
        </div>
    </div>
</div>



{%endblock content%}